<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Budget Tracker</title>

    <!-- Styles -->
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-row">
    <div class="d-flex flex-column col-nav">
        <nav class="">
        </nav>
    </div>

    <div class="d-flex flex-column col-main">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- JavaScript files -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
