@page
@model OverviewModel
@{
    ViewData["Title"] = "Budgets - Overview";
}

<div class="border-2 border-solid border-gray-300 rounded-lg dark:border-gray-600 h-auto mb-4 p-4 md:h-64">
    <h3 class="text-center text-3xl font-bold dark:text-white">Overall Budget</h3>
    <div class="m-2">
        <div>
            <div class="flex justify-between mb-1">
                <span class="text-base font-small text-blue-700 dark:text-white">Rent</span>
                <span class="text-sm font-small text-blue-700 dark:text-white">50%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 50%"></div>
            </div>
        </div>
        <div>
            <div class="flex justify-between mb-1">
                <span class="text-base font-small text-blue-700 dark:text-white">Expenses</span>
                <span class="text-sm font-small text-blue-700 dark:text-white">30%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 30%"></div>
            </div>
        </div>
        <div>
            <div class="flex justify-between mb-1">
                <span class="text-base font-small text-blue-700 dark:text-white">Savings</span>
                <span class="text-sm font-small text-blue-700 dark:text-white">10%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 10%"></div>
            </div>
        </div>
        <div>
            <div class="flex justify-between mb-1">
                <span class="text-base font-medium text-blue-700 dark:text-white">Total</span>
                <span class="text-sm font-medium text-blue-700 dark:text-white">90%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                <div class="bg-blue-600 h-2.5 rounded-full" style="width: 90%"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
    <div class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 h-32 md:h-64"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"></div>
</div>
<div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"></div>
<div class="grid grid-cols-2 gap-4 mb-4">
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
</div>
<div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"></div>
<div class="grid grid-cols-2 gap-4">
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
</div>
