/**Layout**/

body {
}

main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

/**Transactions**/
.scrollable-cards {
    max-height: 80vh; /* Set a fixed height for scroll area */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 1rem; /* Optional: add padding for visual spacing */
}